.row {
    --width-background: 362px;
    --height-background: 208px;

    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 24px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    width: 24%;
    margin-bottom: 32px;
    margin-top: 28px;
    cursor: pointer;

    &:hover .overlay{
        display: flex;
    }
}

.image {
    position: relative;
    z-index: 0;
    width: var(--width-background);
    height: var(--height-background);
    margin-bottom: 12px;

    .background {
        width: var(--width-background);
        height: var(--height-background);
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        top: 0;
        left: 0;
        opacity: 0.8;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        .icon {
            margin: 0 12px;
        }
    }
}

.content {
    display: flex;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.text {
    color: white;
    margin-left: 12px;

    .heading {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .account {
        color: #828282;
        font-size: 1.4rem;
        margin-top: 6px;
        font-weight: 600;
    }

    .info {
        color: #828282;
        font-size: 1.4rem;
        font-weight: 600;
    }
}
