.container {
    --avatar-user: 34px;
    --width-menu: 336px;
    --height-menu: 538px;

    position: relative;
    opacity: 0.95;
    background-color: black;
}

.user-img {
    background-color: var(--primary-color);
}

.img {
    width: var(--avatar-user);
    height: var(--avatar-user);
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 12px;
}

.menu {
    position: absolute;
    right: calc(100% - 36px);
    top: calc(100% + 2px);
    width: var(--width-menu);
    background-color: var(--primary-color);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--primary-color);
        right: 0;
        bottom: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 0 18px;
    cursor: pointer;
}
.avatar {
    width: 46px;
    height: 42px;
    border-radius: 50%;
}

.icon-back {
    font-size: 1.8rem;
    margin-left: 12px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;

    .text {
        margin-left: 20px;
        font-size: 1.6rem;
    }
}

.text {
    display: flex;
    flex-direction: column;
    margin: 12px 18px;

    .name {
        color: white;
        font-weight: 600;
        margin: 6px 0px;
    }

    .manage-account {
        border: none;
        background-color: var(--primary-color);
        color: #3ea6ff;
        font-size: 1.4rem;
        cursor: pointer;
    }
}

.menu-item {
    max-height: var(--height-menu);
    overflow: scroll;
    cursor: pointer;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 6px;
        position: absolute;
        height: 100%;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        position: absolute;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .header { 
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.4rem;
        padding: 18px 0;

        .icon-back {
            padding: 0 22px;
        }

        .title {

        }
    }
}


