@import '../../components/reponsiveMixin/mixin';

.container { 
    width: 1068px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: var(--height-header);

    @include breakpoint4 {
        margin-left: 320px;
    }

    @include breakpoint5 {
        margin-left: 320px;
    }

    @include breakpoint6 {
        margin-left: 320px;
    }

}

.menu { 
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 12px;
}

.content {


    .heading {
        color: white;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 30px 0;
    }
}

