.container {
    --height: 35px;
    --width: 100px;

    position: absolute;
    height: var(--height);
    min-width: var(--width);
    color: white;
    background-color: rgb(90, 90, 90);
    opacity: 1;
    line-height: var(--height);
    font-size: 1.5rem;
    border-radius: 4px;
    animation: fadeIn 0.2s linear;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, 100%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
